.bigbig{
    overflow: hidden;
    width:100%;
    height:13.34rem;
}
.bigbox{
    width:100%;
    height:max-content;
    position: relative;
    top:0;
    left:0
}
.box{
    width:100%;
    height:1rem;

    z-index:15;
    padding:0 0.2rem;
    background:#ccc;
    display: flex;
    align-items:center
}
.box .right{
    flex-grow:1;
    flex-shrink: 0;
    flex-basis:0rem;
    position: relative;
    background:#fff;
    border-radius:2rem;
}
.right input{
    width:100%;
    position: relative;
    border:none;
    height:0.6rem;
    padding-left:0.6rem;
    box-sizing:border-box;
    border-radius:2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:0.6rem;
    font-size:0.28rem;
    opacity:1
}
.op{
    width:100%;
    height:max-content;
    z-index:200;
    left:0;
    top:0;
    background:#fff
}