.box{

    width:100%;

    justify-content: space-between;
    height:0.98rem;
    background:#ccc;
    font-size:0.28rem;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 10;
    line-height:0.98rem
}
.box p{
    display: inline-block;
    flex:1;
    width:33%;
    align-items: center;
    text-align:center;
    justify-content: center;
}